<!DOCTYPE html>
<html lang="en">
<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" href="/css/index.css">
				<title>Todo List</title>
</head>
<body>
				<h1>Todo List</h1> 
				<div class="forms">
								<form method="POST" action="/add">
												<input type="text" name="user" placeholder="Username">
												<input type="email" name="email" placeholder="Email">
												<input type="text" name="sub" placeholder="Subject">
												<button type="submit">Add data</button>
								</form>
				</div>
				<div class="tables">
								<table id="customers">
												
																<tr>
																				<th>Id</th>
																				<th>Name</th>
																				<th>Email</th>
																				<th>Subject</th>
																				<th>Edit</th>
																</tr>
																
																				<% data.forEach(user =>{ %>
																				<tr>
																				<td><%= user._id %></td>
																				<td><%= user.user %></td>
																				<td><%= user.email %></td>
																				<td><%= user.sub %></td> 
																				<td>
																								<a href="/update?id=<%= user._id %> "> update </a>
																								<a href="/remove?id=<%= user._id %> "> remove </a>
																					</td>
																				</tr>
																				<%})%>    
															
												
								</table>
				</div>
</body>
</html>
